.descripcion {
    font-size: large;
    background-color: #F2EAE6;
    width: 90%;
   font-family: nunito, sans-serif;
   color: #a4a4cb;
   width: 60%;
   box-sizing: border-box;
   border-radius: 1rem;
   padding: 12px;
   position: absolute;
   top: 50%;
   text-align: center;
   border: 3px solid #a4a4cb;
   box-shadow: 0 1.5px 3px 0 black ;
}

h1 {
    font-family: "Fredoka one", nunito, sans-serif;
    color: #a4a4cb;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 35%;
    border: 4px solid #a4a4cb;
    box-shadow: 0 1.5px 3px 0 black ;
}

.titulo, .parrafo {
    display: flex;
    justify-content: center;
    border-radius: 30%;
    box-shadow: 0 1.5px 3px 0 black, 16% ;
}
