.navbar {
  height: 8rem;
  background-color: #a4a4cb;
  font-family: nunito, sans-serif;
  font-size: 14px;
  color: #f2eae6;
  border: 2px solid #F2EAE6;
  box-sizing: border-box;
}

.anchorlogo {
  width: 6rem;
}
.anchorlogo img{
    padding: .5rem;
}