.header {
  background: no-repeat center/cover
    url("https://images.unsplash.com/photo-1604467794349-0b74285de7e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 100vh;
}
.products {
  padding: 3rem 0;
  background-color: antiquewhite;
  height: 100vh;
}

.tile.is-ancestor {
  margin-top: 350px;
}

.brand-description-title {
  color:  #5a74b6;
  background-color: rgb(255, 255, 255, 0.25);
}
.brand-description {
  color: #64AA6D;
  font-size: 1.25rem;
  background-color: rgba(17, 2, 2, 0.5);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
